{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h2 class="mb-4">
        {% if object %}Редактирование покупателя{% else %}Создание покупателя{% endif %}
    </h2>
    
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                            {{ form.phone }}
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary">
                    {% if object %}Обновить{% else %}Создать{% endif %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}