{% extends "base.html" %}
{% block content %}
<h1>{% if object %}Редактирование варианта поставки{% else %}Добавление нового варианта поставки{% endif %}</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.price_list.label_tag }}
        {{ form.price_list }}
        {% if form.price_list.errors %}
            <div class="text-danger">{{ form.price_list.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.part.label_tag }}
        {{ form.part }}
        {% if form.part.errors %}
            <div class="text-danger">{{ form.part.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.delivery_range.label_tag }}
        {{ form.delivery_range }}
        {% if form.delivery_range.errors %}
            <div class="text-danger">{{ form.delivery_range.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.price.label_tag }}
        {{ form.price }}
        {% if form.price.errors %}
            <div class="text-danger">{{ form.price.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.in_stock.label_tag }}
        {{ form.in_stock }}
        {% if form.in_stock.errors %}
            <div class="text-danger">{{ form.in_stock.errors }}</div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="{% url 'deliveryoption_list' %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}